@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 170vh;
    background: url('https://img.freepik.com/free-photo/cannabis-oil-bottle-assortment_23-2148977688.jpg?w=2000');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.text {
    padding: 10px;
    font-size: medium;
    font-weight: 400;
}

.botoes {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-number {
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
      max-width: 120px;
      color: gray;
      text-align: center;
}

/*.btnCalculo {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}   
  
.btnCalculo:hover {
    background-color: #0056b3;
}*/

.input-box {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center the items horizontally */
}

.output-number {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: gray;
    text-align: center;
}

.seta {
    padding-top: 5px;
    font-size: 50px;
    background: linear-gradient(10deg, aquamarine, orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* CSS imagens dos óleos */


.escolha {
    color: white;
    opacity: 0.8;
    font-weight: 900;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.linhaSuperior {
    display: flex;
    flex-direction: row;
}

.classe1 {
    padding: 10px;
}

.imagem1 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.classe2 {
    padding: 10px;
}

.imagem2 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.classe3 {
    padding: 10px;
}

.imagem3 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.linhaInferior {
    display: flex;
    flex-direction: row;
}

.classe4 {
    padding: 10px;
}

.imagem4 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.classe5 {
    padding: 10px;
}

.imagem5 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.classe6 {
    padding: 10px;
}

.imagem6 {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

